.narration_input {
  position: absolute;
  bottom: 100px;
  left: 30px;
  height: 50px;
  width: 630px;
  border-radius: 25px;
  
}
.narration_button {
  position: absolute;
  bottom: 100px;
  right: 30px;
  height: 50px;
  width: 100px
}

#container {
  height: 400px;
  background-repeat: no-repeat;
   margin: auto;
    width: 50%;
    padding: 25px;
}

a {
    cursor: pointer;
}
h1 {
  color: purple;
}
button {
  margin: auto;
  cursor: pointer;
  border-radius: 25px;
  background-color: lightsalmon;
}

button:hover {
    background-color: lightcoral;
    cursor: pointer;
}

a {
    color: hotpink;
}

a:hover {
    color: pink;
}

body{
    background-image: url('images/background.jpeg');
    overflow:hidden;
    font-family: 'Architects Daughter', cursive;
    font-style: italic;    
    margin: 0 auto;
    text-align: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover; 
}

#flipbook{
    font-family: 'Architects Daughter', cursive;
    width:400px;
    height:300px;
}
#flipbook .page {
    overflow: auto;
    width:400px;
}
.page{

    overflow-wrap: break-word;
}
#flipbook .page{
    width:400px;
    height:300px;
    background-color:white;
    line-height:300px;
    font-size:15px;
    text-align:center;

}

#flipbook .page-wrapper{
    -webkit-perspective:2000px;
    -moz-perspective:2000px;
    -ms-perspective:2000px;
    -o-perspective:2000px;
    perspective:2000px;
}

#flipbook .hard{
    background:thistle !important;
    color:#333;
    -webkit-box-shadow:inset 0 0 5px purple;
    -moz-box-shadow:inset 0 0 5px purple;
    -o-box-shadow:inset 0 0 5px purple;
    -ms-box-shadow:inset 0 0 5px purple;
    box-shadow:inset 0 0 5px purple;
    font-weight:bold;
    font-size:20px;
    color: purple;   
}

#flipbook .odd{
    background:-webkit-gradient(linear, right top, left top, color-stop(0.95, #FFF), color-stop(1, #DADADA));
    background-image: url('images/storybook_background.png');
    -webkit-box-shadow:inset 0 0 5px purple;
    -moz-box-shadow:inset 0 0 5px purple;
    -o-box-shadow:inset 0 0 5px purple;
    -ms-box-shadow:inset 0 0 5px purple;
    box-shadow:inset 0 0 5px purple;
    
}

#flipbook .even{
    background:-webkit-gradient(linear, left top, right top, color-stop(0.95, #fff), color-stop(1, #dadada));
    background-image: url('images/storybook_background.png');
    -webkit-box-shadow:inset 0 0 5px purple;
    -moz-box-shadow:inset 0 0 5px purple;
    -o-box-shadow:inset 0 0 5px purple;
    -ms-box-shadow:inset 0 0 5px purple;
    box-shadow:inset 0 0 5px purple;
}