<div>
  <h2>login</h2>
  <form action="/login" method="POST">
    <input type='text' placeholder="username" ng-model='user.username' name="username">
    <input type="password" placeholder="password" ng-model='user.password' name="password">
    <button ng-click="usernameInfo(user.username, user.password)">login</button>
  </form>
  <a href="#/signup">Don't have an account? <strong>Signup</strong> ...</a>


</div>