<div ng-controller="AuthController as c">
  <h2>Login</h2>
  <form name="loginForm" ng-submit='c.login(user.username, user.password)'>
    <input type='text' placeholder="username" ng-model='user.username'>
    <input type="password" placeholder="password" ng-model='user.password'>
    <button>Login</button>
  </form>
  <a href="#/signup">Don't have an account? <strong>Signup</strong> ...</a>
</div>