<div>
  <h2>login</h2>
  <form name="loginForm" ng-submit="logIn()">
    <input type='text' placeholder="username" ng-model='user.username'>
    <input type="password" placeholder="password" ng-model='user.password'>
    <button>login</button>
  </form>
</div>