<div id="container" ng-controller="MyBooksController as c" ng-init="c.getMyBooks()">
    <div class="navigation" >
        <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
          <a ng-click="c.myBooksPage()">My Books</a> 
          <a ng-click="c.buildBooksPage()">Build A Book!</a> 
          <a ng-click="c.logout()">Log Out</a> 
        </md-nav-bar>
      </div>

      <div ng-init="c.getMyBooks()">
        <div>
          <div ng-repeat="book in c.myBooks" >
              <a ng-hide="c.showInput" ng-click="c.showBook(book[0])"> {{book[0]}}</a>
          </div>
        </div>
      </div>

      <button ng-show="c.showInput" ng-click="c.showBooks()">Back To My Books</button>
      <div id="flipbook" ng-show="c.showInput">
          <div class="hard" style="background-image: url('{{c.background}}'); background-size: cover; word-wrap: break-word"> 
              {{ c.bookTitle }}
         </div> 
          <div class="hard"></div>
          <div data-ng-repeat="page in c.reading; track by $index" id="page" class="page" >
            <div style="background-image: url('{{c.pageBackgrounds[0][$index]}}'); background-size: cover; word-wrap: break-word">
                {{ page }}
            </div>
          </div>
          <div class="hard"></div>
          <div class="hard" style="background-image: url('{{c.background}}'); background-size: cover;"></div>
      </div>
      <button ng-show="c.showInput" ng-click="c.deleteBook()">Delete</button>
</div>
