<div>
  <h2>signup</h2>
  <form action="/signup" method="POST">
    <input type='text'  placeholder="username" ng-model='user.username' name="username">
    <input type="password"  placeholder="password" ng-model='user.password' name="password">
    <button ng-click="usernameInfo(user.username, user.password)" >signup</button>
  </form>
    <a href="#/login">Already have an account? <strong>Login</strong> ...</a>

    {{ message }}
</div>