<div>
  <h2>signup</h2>
  <form action="/signup" method="POST">
    <input type='text'  placeholder="username" ng-model='user.username' name="username">
    <input type="password"  placeholder="password" ng-model='user.password' name="password">
    <button>signup</button>
  </form>
    <a href="/login">Already have an account? <strong>Signin</strong> ...</a>
</div>