<div>
  <h2>signup</h2>
  <form name="signupForm" ng-submit="signUp()">
    <input type='text'  placeholder="username" ng-model='user.username'>
    <input type="password"  placeholder="password" ng-model='user.password'>
    <button>signup</button>
    Already have an account <a href="/login">Log In</a>
  </form>
</div>